* {
  margin: 0;
  padding: 0;
}

.contenedor0 {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.contenedor2 {
  display: flex;
  justify-content: center;
  background: #1e1a13 0% 0% no-repeat padding-box;
  opacity: 0.98;
  color: white;
}

.contenedor1 {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.contenedor3 {
  display: flex;
  justify-content: center;
  background: black;
}

.galeria {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.menu {
  display: flex;
  gap: 2em;
  list-style-type: none;
  color: white;
  background: #1e1a13 0% 0% no-repeat padding-box;
  opacity: 0.98;
  padding: 1em;
  justify-content: center;
}
